<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h1 class="page-title">Dashboard Event for Discord
              </h1>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
              </nav></div>
            </div>
          </div>
        </div>
        <button id="openFormBtn" class="btn btn-primary">Click for the input</button>
        <div id="formPopup" class="popup" style="display: none;">
            <div class="popup-content">
                <span class="close-btn">&times;</span>
                <h2>Insert Data to Add Event for Discord</h2>
                <form class="form-horizontal">
                  <div class="card-body">
                    <h4 class="card-title"></h4>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-3 text-end control-label col-form-label fas fa-id-card"> DateTime</label>
                      <div class="col-sm-9">
                        <input type="date" class="form-control" id="datetime">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="lname" class="col-sm-3 text-end control-label col-form-label fas fa-desktop "> Source</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="lname" placeholder="Source">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="lname" class="col-sm-3 text-end control-label col-form-label fas fa-info-circle"> DestinationIP</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="lname" placeholder="Destination Here">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email1" class="col-sm-3 text-end control-label col-form-label fas fa-desktop"> EndpointHostname</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="email1" placeholder="EndpointHostname Here">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="cono1" class="col-sm-3 text-end control-label col-form-label fas fa-code"> payload</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="cono1" placeholder="payload Here">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-end control-label col-form-label fas fa-flag"> Tags</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="cono1" placeholder="Tags Here">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-end control-label col-form-label fas fa-code"> uuid</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="cono1" placeholder="uuid Here">
                        </div>
                      </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                          <button type="button" class="btn btn-primary far fa-save">
                             Submit
                          </button>
                        </div>
                      </div>
                    </form>
            </div>
        </div>         
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Here For Event Discord has Added !</h5>
              <div class="table-responsive">
                <label>Show 
                    <select name="zero_config_length" aria-controls="zero_config" class="form-control form-control-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option></select> entries</label><div class="container-fluid">
                          <form class="example" class="btn btn-primary">
                            <input type="text" placeholder="Search.." name="search" class="bg" >
                            <button type="submit"><i class="fa fa-search" ><i ></i></i></button>
                          </form>
                        <!-- ============================================================== -->
                        <!-- Start Page Content -->
                        <!-- ============================================================== -->
                        <div class="row el-element-overlay">
                          <div class="col-lg-3 col-md-6">
                            <div class="card">
                              <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                  <img src="../assets/images/big/img1.jpg" alt="user">
                                  <div class="el-overlay">
                                    <ul class="list-style-none el-info">
                                      <li class="el-item">
                                        <a class="
                                            btn
                                            default
                                            btn-outline
                                            image-popup-vertical-fit
                                            el-link
                                          " href="../assets/images/big/img1.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                      </li>
                                      <li class="el-item">
                                        <a class="btn default btn-outline el-link" href="javascript:void(0);"><i class="mdi mdi-link"></i></a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="el-card-content">
                                  <h4 class="mb-0">Title</h4>
                                  <span class="text-left">Jenis Serangan / Anomali</span>
                                  <br>
                                  <span class="text-left position-left">Tags</span>
                                  <br>
                                  <span class="text-left">Severity</span>
                                  <br>
                                  <span class="text-left">description</span>
                                  <br>
                                  <span class="text-left">Action</span>
                                  <br>
                                  <span class="text-left">Message</span>
                                  <br>
                                  <span class="text-left">uuid</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6">
                            <div class="card">
                              <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                  <img src="../assets/images/big/img2.jpg" alt="user">
                                  <div class="el-overlay">
                                    <ul class="list-style-none el-info">
                                      <li class="el-item">
                                        <a class="
                                            btn
                                            default
                                            btn-outline
                                            image-popup-vertical-fit
                                            el-link
                                          " href="../assets/images/big/img2.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                      </li>
                                      <li class="el-item">
                                        <a class="btn default btn-outline el-link" href="javascript:void(0);"><i class="mdi mdi-link"></i></a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="el-card-content">
                                    <h4 class="mb-0">Title</h4>
                                    <span class="text-muted">subtitle of project</span>
                                    <br>
                                    <span class="text-muted">subtitle of project</span>
                                    <br>
                                    <span class="text-muted">subtitle of project</span>
                                    <br>
                                    <span class="text-muted">subtitle of project</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                              </div>
                            </div><table id="zero_config" class="table table-striped table-bordered">
                  
                  <thead>
                    
                          
                  </thead>
      




  
</table></div></div></div></div></form></div></div></div></div>